<section id="why-us" class="services-area pt-110 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title text-center pb-25">
                    <h3 class="title">Why You Should Choose ICERA</h3>
                    <p class="text">Alii nusquam cu duo, vim eu consulatu percipitur, meis dolor comprehensam at vis. Vel ut percipitur dignissim signiferumque.</p>
                </div>
                <!-- section title -->
            </div>
        </div>
        <!-- row -->

        <section class="section-padding">
            <div class="container">
                <div class="section-header text-center">
                    <h4 class="section-title wow fadeInDown" data-wow-delay="0.3s">Enhance Your Service Quality</h4>
                    <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="content-left">
                            <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
                                <div class="text-center">
                                    <span class="icon">
                                        <i class="lni-rocket"></i>
                                    </span>
                                    <!-- <h4>Exceptional Patient Experience</h4> -->
                                </div>
                                <div class="text">
                                    <h4>Exceptional Patient Experience</h4>
                                    <p>Online booking</p>
                                    <p>Reduce waiting time, maintain safe waiting space and area (queue tracking).</p>
                                </div>
                            </div>
                            <div class="box-item wow fadeInLeft" data-wow-delay="0.6s">
                                <div class="text-center">
                                    <span class="icon">
                                        <i class="lni-rocket"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <h4>EMR, EHR & more</h4>
                                    <p>Engage patient by sharing medical record with patient clinical notes, imaging and lab results and prescriptions</p>
                                    <p>Surf PMH to support medical decision</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
                            <img src="assets/images/intro-mobile.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="content-right">
                            <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
                                <div class="text-center">
                                    <span class="icon">
                                        <i class="lni-rocket"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <h4>Improve Communication</h4>
                                    <p>Share knowledge by sharing information, notifications, learning material and others</p>
                                    <p>The use of medical coding to promote communication with insurance companies</p>
                                </div>
                            </div>
                            <div class="box-item wow fadeInRight" data-wow-delay="0.6s">
                                <div class="text-center">
                                    <span class="icon">
                                        <i class="lni-rocket"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <h4>Time Management</h4>
                                    <p>Manage your appointments settings</p>
                                    <p>Get notified with appointments update to optimize your time</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container second-why">
                <div class="section-header text-center">
                    <h4 class="section-title wow fadeInDown" data-wow-delay="0.3s">Improve Business Value And Profitability</h4>
                    <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="content-left">
                            <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
                                <div class="text-center">
                                    <span class="icon">
                                        <i class="lni-rocket"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <h4>Optimizing Time Utilization</h4>
                                    <p>Reduce no shows with reminder notifications</p>
                                    <p>Easy rescheduling early cancellation</p>
                                    <p>Get the opportunity of rebooking</p>
                                </div>
                            </div>
                            <div class="box-item wow fadeInLeft" data-wow-delay="0.6s">
                                <div class="text-center">
                                    <span class="icon">
                                        <i class="lni-rocket"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <h4>Accessibility & Integration</h4>
                                    <p>Exploide your reachability</p>
                                    <p>Expand your partnerships with service providers and insurance companies</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
                            <img src="assets/images/intro-mobile.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="content-right">
                            <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
                                <div class="text-center">
                                    <span class="icon">
                                        <i class="lni-rocket"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <h4>Financial Management</h4>
                                    <p>Manage patient bills and payments</p>
                                    <p>Manage insurance companies bills and claims</p>
                                    <p>Manage your practice expenses</p>
                                </div>
                            </div>
                            <div class="box-item wow fadeInRight" data-wow-delay="0.6s">
                                <div class="text-center">
                                    <span class="icon">
                                        <i class="lni-rocket"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <h4>Reporting</h4>
                                    <p>Allowing an evidence based decision making to analyze and improve your services, activities and relationships to achieve the trending growth of your practice
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- row -->
    </div>
    <!-- container -->
</section>